<detalle-cliente *ngIf="clienteSeleccionado" [cliente] = "clienteSeleccionado"></detalle-cliente>
<div class="card border-success mb-3">
  <div class="card-header">Clientes</div>
  <div class="card-body text-success">
    <h5 class="card-title">Listado de clientes</h5>
    <button *ngIf="authService.hasRol('ROLE_ADMIN')" class="btn btn-primary mb-2" [routerLink]="'/clientes/form'">
      Crear cliente
    </button>
    <table class="table table-bordered" *ngIf="clientes?.length else noHayRegistros">
      <caption class="mt-2 pb-0">{{clientes.length}} Clientes</caption>
      <thead>
        <tr>
          <th *ngIf="authService.hasRol('ROLE_USER')">#</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Email</th>
          <th>Fecha</th>
          <th *ngIf="authService.hasRol('ROLE_ADMIN')">Crear factura</th>
          <th *ngIf="authService.hasRol('ROLE_ADMIN')">Editar</th>
          <th *ngIf="authService.hasRol('ROLE_ADMIN')">Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of clientes">
          <td *ngIf="authService.hasRol('ROLE_USER')">
            <img (click)="abrirModal(cliente)" *ngIf="cliente?.foto else sinFoto"
              src="{{urlBack}}/api/uploads/img/{{cliente.foto}}"
              alt="Imagen cliente" class="img-thumbnail rounded btn btn-light"
              width="100"
            >
            <ng-template #sinFoto>
              <img (click)="abrirModal(cliente)"
                src="https://cdn1.iconfinder.com/data/icons/commonmat/24/notverified-256.png"
                alt="Sin foto" class="img-thumbnail rounded btn btn-light"
                width="100"
              >
            </ng-template>
          </td>
          <td>{{cliente.nombre}}</td>
          <td>{{cliente.apellido | uppercase}}</td>
          <td>{{cliente.email}}</td>
          <td>{{cliente.createAt | date:'EEEE d, MMMM y'}}</td>
          <td *ngIf="authService.hasRol('ROLE_ADMIN')">
            <button [routerLink]="['/facturas/form', cliente.id]" class="btn btn-success">Crear factura</button>
          </td>
          <td *ngIf="authService.hasRol('ROLE_ADMIN')">
            <button [routerLink]="['/clientes/form', cliente.id]" class="btn btn-warning">Editar</button>
          </td>
          <td *ngIf="authService.hasRol('ROLE_ADMIN')">
            <button (click)="delete(cliente)" class="btn btn-danger">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
    <ng-template #noHayRegistros>
      <div class="alert alert-info">¡No hay registros en base de datos!</div>
    </ng-template>
    <paginador-nav *ngIf="paginador" [paginador] = "paginador"></paginador-nav>
  </div>
</div>
