<div class="card bg-dark text-white mt-3 mx-auto" style="max-width: 70%;">
  <div class="card-header">{{titulo}}</div>
  <div class="card-body">
    <form class='form-floating' #clienteForm="ngForm">
      <div class='form-floating mb-3'>
        <input type="text" id='nombre' class='form-control' [(ngModel)]="cliente.nombre" name='nombre'
          placeholder="Digite su nombre..." required minlength="4" #nombre="ngModel">
        <label for="nombre" class="text-muted">Nombre</label>
        <div class="alert alert-danger py-0" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
          <span *ngIf="nombre.errors.required">El nombre es requerido</span>
          <span *ngIf="nombre.errors.minlength">El nombre debe contener al menos 4 caracteres</span>
        </div>
      </div>
      <div class='form-floating mb-3'>
        <input type="text" id='apellido' class='form-control' [(ngModel)]="cliente.apellido" name='apellido'
          placeholder="Digite su apellido..." required #apellido="ngModel">
        <label for="apellido" class="text-muted">Apellido</label>
        <div class="alert alert-danger py-0" *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)">
          <span *ngIf="apellido.errors.required">El apellido es requerido</span>
        </div>
      </div>
      <div class='form-floating mb-3'>
        <input type="email" id='email' class='form-control' [(ngModel)]="cliente.email" name='email'
          placeholder="Digite su email..." required email #email="ngModel">
        <label for="email" class="text-muted">Email</label>
        <div class="alert alert-danger py-0" *ngIf="email.invalid && (email.dirty || email.touched)">
          <span *ngIf="email.errors.required">El email es requerido</span>
          <span *ngIf="email.errors.email">El email debe tener un formato válido</span>
        </div>
      </div>
      <!-- Otra forma que funciona para crear y actualizar -->
      <!-- <div class="d-flex justify-content-between">
        <button class='btn btn-primary mt-3' (click)="create()" >{{titulo}}</button>
      </div> -->
      <div class="d-flex justify-content-between">
        <button class='btn btn-primary mt-3' (click)="create()" *ngIf="!cliente.id else elseBlock" [disabled]="!clienteForm.form.valid">
          {{titulo}}
        </button>
        <ng-template #elseBlock>
          <button class='btn btn-primary mt-3' (click)="update(cliente)" [disabled]="!clienteForm.form.valid">{{titulo}}</button>
        </ng-template>
      </div>
    </form>
  </div>
</div>
