<ul class="alert alert-danger" *ngIf="errores">
  <li *ngFor="let err of errores" class="ms-3">
    {{err}}
  </li>
</ul>
<div class="card bg-dark text-white mt-3 mx-auto" style="max-width: 70%">
  <div class="card-header">{{titulo}}</div>
  <div class="card-body">
    <form class='form-floating' #clienteForm="ngForm">
      <div class='form-floating mb-3'>
        <input type="text" id='nombre' class='form-control' [(ngModel)]="cliente.nombre" name='nombre'
          placeholder="Digite su nombre..." #nombre="ngModel"> <!-- required minlength="4"  -->
        <label for="nombre" class="text-muted">Nombre</label>

        <!-- Para Validar desde el front -->
        <!-- <div class="alert alert-danger py-0" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
          <span *ngIf="nombre.errors.required">El nombre es requerido</span>
          <span *ngIf="nombre.errors.minlength">El nombre debe contener al menos 4 caracteres</span>
        </div> -->
      </div>

      <div class='form-floating mb-3'>
        <input type="text" id='apellido' class='form-control' [(ngModel)]="cliente.apellido" name='apellido'
          placeholder="Digite su apellido..." #apellido="ngModel"> <!--  required -->
        <label for="apellido" class="text-muted">Apellido</label>

        <!-- Para validar desde el front -->
        <!-- <div class="alert alert-danger py-0" *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)">
          <span *ngIf="apellido.errors.required">El apellido es requerido</span>
        </div> -->
      </div>

      <div class='form-floating mb-3'>
        <input type="email" id='email' class='form-control' [(ngModel)]="cliente.email" name='email'
          placeholder="Digite su email..." #email="ngModel"> <!-- required email  -->
        <label for="email" class="text-muted">Email</label>

        <!-- Para Validar desde el front -->
        <!-- <div class="alert alert-danger py-0" *ngIf="email.invalid && (email.dirty || email.touched)">
          <span *ngIf="email.errors.required">El email es requerido</span>
          <span *ngIf="email.errors.email">El email debe tener un formato válido</span>
        </div> -->
      </div>

      <div class='form-floating mb-3'>
        <input matInput [matDatepicker]="picker" id='createAt' class='form-control d-inline w-50' [(ngModel)]="cliente.createAt"
          name='createAt' placeholder="Digite la fecha...">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <label for="createAt" class="text-muted">Fecha</label>
      </div>

      <div class='form-floating mb-3'>
        <select [compareWith]="compararRegion" id='region' class='form-control w-50' [(ngModel)]="cliente.region"
          name='region' placeholder="Digite la región...">
          <option [ngValue]="undefined">--- Seleccionar región ---</option>
          <option *ngFor="let region of regiones" [ngValue]="region">{{region.nombre}}</option>
        </select>
        <label for="region" class="text-muted">Region</label>
      </div>

      <div class="d-flex justify-content-between">
        <button class='btn btn-primary mt-3' (click)="create()" *ngIf="!cliente.id else elseBlock"
          [disabled]="!clienteForm.form.valid">
          {{titulo}}
        </button>
        <ng-template #elseBlock>
          <button class='btn btn-primary mt-3' (click)="update(cliente)"
            [disabled]="!clienteForm.form.valid">{{titulo}}</button>
        </ng-template>
      </div>
    </form>
  </div>
</div>
